dados/*.res
enunc.html
sols/*.o
sols/sol
EnunciadoAberto
SusyCoord
SusyFinal
EnunciadoCoord
md_head.html
md_tail.html
md_content.html
md_content.md
dados/*.in
dados/*.out
dados/*.diff
dados/*.res
gen/gen
